css
Copy code
body 

{
    font-family: 'Arial', sans-serif;
    background-color: #f9f9f9;
    color: #333;
    margin: 0;
    padding: 0;
}
   
header {

    color: white;
    padding: 20px 0;
    text-align: center;
}

header .logo img {
    width: 500px;
    height: 250px;
}

nav {
    position: fixed;
    top: 0;
    right: 0;

    overflow: hidden;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

nav ul li {
    display: inline;
}

nav ul li a {
    display: inline-block;
    color: maroon;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
    font-size: 1.2em;
}

nav ul li a:hover {
    background-color: palevioletred;
}

.hero {
    background-color: palevioletred;
    color: black;
    text-align: center;
    padding: 50px 20px;
}

.hero-content {
    max-width: 600px;
    margin: 0 auto;
}

.profile-image img {
    border-radius: 80%;
    width: 250px;
    height: 250px;
    object-fit: cover;
    border: 3px solid white;
    margin-bottom: 20px;
}

h1 {
    font-size: 2.5em;
    margin: 0;
}

p {
    font-size: 1.2em;
}

section {
    background-color: white;
    margin: 20px auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 800px;
}

h2 {
    border-bottom: 2px solid maroon;
    padding-bottom: 10px;
    font-family: 'Georgia', serif;
    color: maroon;
}

ul {
    list-style-type: square;
    padding-left: 20px;
}

.project {
    margin-bottom: 20px;
}

form label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

form input, form textarea {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

form button {
    background-color: palevioletred;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

form button:hover {
    background-color: lightpink;
}

footer {
    background-color: palevioletred;
    color: white;
    text-align: center;
    padding: 10px 0;
}